<div class="container">
    <img src="~/images/customer-service.png" alt="Fale conosco" />
    <div class="jumbotron">
        <h3> Queremos ouvir oque você tem a dizer </h3>
        <p>
            Se você tiver alguma duvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/envelope.png" />
            </span>
            <h5><email endereco="alaorfurquim34@gmail.com" conteudo = "Enviar Email"></email></h5>
            <br />
            <span>
                <img src="~/images/cell-phone.png" />
            </span>
            <h5>(65) 99954-2456</h5>
            <br />
            <span>
                <img src="~/images/select.png" />
            </span>
            <h5> Rua Gustavo Barroso 20 - 780000 - Mato Grosso</h5>
        </p>
    </div>
</div>