<br />
<img src = "~/images/management.png" alt = "Área da Administração" class = "marginTop1" />
<div class = "container">
    <div class ="jumbotrom">
        <p>
            <h2>Esta é a área de Administração</h2>
        </p>
    </div>
    <a asp-area = "" asp-controller = "Home" asp-action = "Index">Volta a Home Page</a>
</div>
